/**
  * Basic
  *
  * @author jh3y - jheytompkins.com
*/

@use 'common/spin' as *;
@use 'common/colors' as colors;

$thickness: 6px;
$size: 50px;
.basic:before {
  content: '';
  display: block;
  height: $size;
  width: $size;
  animation: spin 0.5s infinite linear;
  border: $thickness colors.$primary solid;
  border-left-color: colors.$secondary;
  border-radius: 100%;
}
