/**
  * Color wheel
  *
  * @author jh3y - jheytompkins.com
*/

@use 'common/spin' as *;
@use 'common/colors' as colors;

$size: 50px;
$color-one: colors.$primary;
$color-two: colors.$secondary;
$color-three: colors.$primary;
$color-four: colors.$secondary;

.color-wheel:before {
  animation: spin 0.5s infinite linear;
  content: '';
  display: block;
  height: $size;
  width: $size;
  border-width: $size / 2;
  border-style: solid;
  border-left-color: $color-one;
  border-bottom-color: $color-two;
  border-radius: 100%;
  border-right-color: $color-three;
  border-top-color: $color-four;
}
