/**
  * Color bridge
  *
  * @author jh3y - https://github.com/jh3y
*/

@use 'common/spin' as *;
@use 'common/colors' as colors;

$size: 50px;
$thickness: 6px;
colors.$primary: colors.$primary;
colors.$secondary: colors.$secondary;

.color-bridge {
  clip-path: inset(-2% 0% 50% 0);
  height: $size;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -25%);
  width: $size;

  &:before {
    animation: spin 1.25s infinite linear;
    border-bottom-color: colors.$primary;
    border-left-color: colors.$secondary;
    border-radius: 100%;
    border-right-color: colors.$secondary;
    border-style: solid;
    border-top-color: colors.$primary;
    border-width: $thickness;
    content: '';
    display: block;
    height: $size;
    width: $size;
  }
}
