/**
  * Color arc
  *
  * @author jh3y - jheytompkins.com
*/

@use 'common/spin' as *;
@use 'common/colors' as colors;

$size: 50px;
$depth: 6px;
colors.$primary: colors.$primary;
colors.$secondary: colors.$secondary;

.color-arc {
  clip-path: inset(0% 50% 50% 0%);
  height: $size;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-25%, -25%);
  width: $size;

  &:before {
    animation: spin 1.25s infinite linear reverse;
    border-width: $depth;
    border-style: solid;
    border-top-color: colors.$primary;
    border-bottom-color: colors.$primary;
    border-left-color: colors.$secondary;
    border-radius: 100%;
    border-right-color: colors.$secondary;
    content: '';
    display: block;
    height: $size;
    width: $size;
  }
}
