/**
  * Dots
  *
  * @author jh3y - jheytompkins.com
*/

@use 'common/spin' as *;
@use 'common/colors' as colors;

$color: colors.$primary;
$radius: 20px;
$size: 5px;

.dots:before {
  display: block;
  height: $size;
  width: $size;
  content: '';
  animation: spin 1s infinite;
  border-radius: 100%;
  box-shadow: $radius 0 0 $size $color, -($radius) 0 0 $size $color;
}
