/**
  * Double up
  *
  * @author jh3y - jhey.dev
*/

@use 'common/spin' as *;
@use 'common/colors' as colors;

$color: colors.$primary;
$size: 50px;
$thickness: 10px;

.double-up:before {
  display: block;
  content: '';
  height: $size;
  width: $size;
  animation: spin 0.5s infinite linear;
  border: $thickness $color double;
  border-left-style: solid;
  border-radius: 100%;
}
