/**
  * Outline square
  *
  * @author jh3y - jheytompkins.com
*/

@use 'common/colors' as colors;

$size: 30px;
$color-one: colors.$primary;
$color-two: colors.$secondary;

@keyframes outline-square {
  0% {
    background: $color-one;
    transform: translate(-100%, -100%);
  }
  25% {
    background: $color-two;
    transform: translate(-100%, 100%);
  }
  50% {
    background: $color-one;
    transform: translate(100%, 100%);
  }
  75% {
    background: $color-two;
    transform: translate(100%, -100%);
  }
  100% {
    background: $color-one;
    transform: translate(-100%, -100%);
  }
}

.outline-square:before {
  content: '';
  display: block;
  height: $size;
  width: $size;
  animation: outline-square 1.5s infinite;
  border-radius: 100%;
}
